/** Color properties */

@property --color-primary {
  syntax: "<color>";
  inherits: false;
  initial-value: #FF6161;
}

@property --color-secondary {
  syntax: "<color>";
  inherits: false;
  initial-value: #7A00E4;
}

@property --color-tertiary {
  syntax: "<color>";
  inherits: false;
  initial-value: #FE2C2C;
}

@property --color-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #000000;
}


/** Spacing properties */

@property --spacing-extra-small {
  syntax: "<length>";
  inherits: false;
  initial-value: 0.25rem;
}

@property --spacing-small {
  syntax: "<length>";
  inherits: false;
  initial-value: 0.75rem;
}

@property --spacing-normal {
  syntax: "<length>";
  inherits: false;
  initial-value: 1.25rem;
}

@property --spacing-medium {
  syntax: "<length>";
  inherits: false;
  initial-value: 1.5rem;
}

@property --spacing-large {
  syntax: "<length>";
  inherits: false;
  initial-value: 2.75rem;
}

@property --spacing-extra-large {
  syntax: "<length>";
  inherits: false;
  initial-value: 4rem;
}

@property --spacing-extra-extra-large {
  syntax: "<length>";
  inherits: false;
  initial-value: 7.5rem;
}

:root {
    /** Colors */
    --color-primary: #FF6161;
    --color-secondary: #7A00E4;
    --color-tertiary: #FE2C2C;
    /**--color-dark: #0C090D;*/
    --color-dark: #000000;
    --color-light: #FFFFFF;

    /** Gradients */
    --gradient-primary: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
    --gradient-light: linear-gradient(45deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.25));

    /** Spacing */
    --spacing-extra-small: 0.25rem;
    --spacing-small: 0.75rem;
    --spacing-normal: 1.25rem;
    --spacing-medium: 1.5rem;
    --spacing-large: 2.75rem;
    --spacing-extra-large: 4rem;
    --spacing-extra-extra-large: 7.5rem;
    --spacing-layout: 15vw;
}

body {
  font-family: var(--font-inter);
  font-weight: 400;
}

.gradient-border {
  border: 1px solid transparent;
  /** Set background-image on elements */
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.project-card-large {
  height: 50vh;
}

/** Media queries */
@media screen and (max-width: 1200px) {
  :root {
    --spacing-layout: 10vw;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --spacing-layout: 5vw;
  }
}
