@import '@fontsource/inter/variable.css';

/* TODO: Overwrite BS styles*/

:root {
	--hero-background: #{$hero-background};
	--dark-text-color: #{$dark-text-color};
	--light-text-color: #{$light-text-color};
	--underline-red: #{$underline-red};
	--cookie-blue: #{$cookie-blue};
	--light-page-background: #{$light-page-background};
	--dark-page-background: #{$dark-page-background};
}

body {
	background-color: $light-page-background;
	background-color: var(--light-page-background);
	color: $light-text-color;
	color: var(--light-text-color);
	font-family: "InterVariable", Arial;
	font-weight: 400;
}

.icon {
	display: block;
	width: 3rem;
	height: 3rem;
	color: $light-text-color;
	color: var(--light-text-color);
}

@media (max-width: 512px) {
	.icon {
		width: 2rem;
		height: 2rem;
	}
}