@import '@fontsource/inter/variable.css';

/* TODO: Overwrite BS styles*/

:root {
	--hero-background: #{$hero-background};
	--dark-text-color: #{$dark-text-color};
	--light-text-color: #{$light-text-color};
	--underline-red: #{$underline-red};
	--cookie-blue: #{$cookie-blue};
	--light-page-background: #{$light-page-background};
	--dark-page-background: #{$dark-page-background};
	--dark-theme-text-color: #{$dark-theme-text-color};
}

body {
	color: $light-text-color;
	color: var(--light-text-color);
	font-family: "InterVariable", Arial;
	font-weight: 400;

	overflow-y: scroll;
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
	/* WebKit */
	width: 0;
	height: 0;
}

.icon {
	display: block;
	width: 3rem;
	height: 3rem;
	color: $light-text-color;
	color: var(--light-text-color);
}

.left-line {
	padding-bottom: 1rem;
}

.large-heading {
	color: $dark-text-color;
	color: var(--dark-text-color);
	text-decoration: underline;
	text-decoration-color: $underline-red;
	text-decoration-color: var(--underline-red);
	font-size: 2.5rem;
}

.nav-item,
.nav-link {
	color: $light-text-color  !important;
	color: var(--light-text-color) !important;

	a {
		color: $light-text-color;
		color: var(--light-text-color);
	}
}

.award-item {
	border-radius: 2px;
}

.dark-theme {
	background-color: $dark-page-background;
	background-color: var(--dark-page-background);

	.large-heading,
	p,
	#all-works-link,
	#all-works-icon,
	li,
	.award-item {
		color: $dark-theme-text-color;
		color: var(--dark-theme-text-color);
	}

	.left-line {
		border-left: 1px solid rgba(255, 255, 255, 0.2);
	}

	.award-bubble {
		background-color: $underline-red;
		background-color: var(--underline-red);
	}

	.award-item {
		background-color: $hero-background;
		background-color: var(--hero-background);
		border: 1px solid rgba(255, 255, 255, 0.2);
	}

	.stack-img {
		box-shadow: 0px 5px 20px 1px rgba(255, 255, 255, 0.1);
	}

	.post-image {
		box-shadow: 0px 5px 20px 1px rgba(255, 255, 255, 0.267);
	}

	.grid-content {
		background: rgb(48, 48, 48);
		background: -moz-linear-gradient(
			0deg,
			rgba(48, 48, 48, 1) 0%,
			rgba(48, 48, 48, 0.3) 50%,
			rgba(48, 48, 48, 0.15) 65%,
			rgba(48, 48, 48, 0.07) 75%,
			rgba(48, 48, 48, 0.04) 83%,
			rgba(48, 48, 48, 0.02) 88%,
			rgba(48, 48, 48, 0) 100%
		);
		background: -webkit-linear-gradient(
			0deg,
			rgba(48, 48, 48, 1) 0%,
			rgba(48, 48, 48, 0.3) 50%,
			rgba(48, 48, 48, 0.15) 65%,
			rgba(48, 48, 48, 0.07) 75%,
			rgba(48, 48, 48, 0.04) 83%,
			rgba(48, 48, 48, 0.02) 88%,
			rgba(48, 48, 48, 0) 100%
		);
		background: linear-gradient(
			0deg,
			rgba(48, 48, 48, 1) 0%,
			rgba(48, 48, 48, 0.3) 55%,
			rgba(48, 48, 48, 0.18) 65%,
			rgba(48, 48, 48, 0.12) 75%,
			rgba(48, 48, 48, 0.05) 83%,
			rgba(48, 48, 48, 0.02) 88%,
			rgba(48, 48, 48, 0) 100%
		);
	}
}

.light-theme {
	background-color: $light-page-background;
	background-color: var(--light-page-background);

	.large-heading,
	p,
	#all-works-link,
	#all-works-icon,
	li,
	.award-item {
		color: $dark-text-color;
		color: var(--dark-text-color);
	}

	.left-line {
		border-left: 1px solid rgba(48, 48, 48, 0.2);
	}

	.award-bubble {
		background-color: $underline-red;
		background-color: var(--underline-red);
	}

	.award-item {
		background-color: white;
		border: 1px solid rgba(48, 48, 48, 0.11);
	}

	.stack-img, .post-image {
		box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.1);
	}

	.grid-content {
		background: rgb(48, 48, 48);
		background: -moz-linear-gradient(
			0deg,
			rgba(48, 48, 48, 1) 0%,
			rgba(48, 48, 48, 0.3) 50%,
			rgba(48, 48, 48, 0.15) 65%,
			rgba(48, 48, 48, 0.07) 75%,
			rgba(48, 48, 48, 0.04) 83%,
			rgba(48, 48, 48, 0.02) 88%,
			rgba(48, 48, 48, 0) 100%
		);
		background: -webkit-linear-gradient(
			0deg,
			rgba(48, 48, 48, 1) 0%,
			rgba(48, 48, 48, 0.3) 50%,
			rgba(48, 48, 48, 0.15) 65%,
			rgba(48, 48, 48, 0.07) 75%,
			rgba(48, 48, 48, 0.04) 83%,
			rgba(48, 48, 48, 0.02) 88%,
			rgba(48, 48, 48, 0) 100%
		);
		background: linear-gradient(
			0deg,
			rgba(48, 48, 48, 1) 0%,
			rgba(48, 48, 48, 0.3) 50%,
			rgba(48, 48, 48, 0.15) 65%,
			rgba(48, 48, 48, 0.07) 75%,
			rgba(48, 48, 48, 0.04) 83%,
			rgba(48, 48, 48, 0.02) 88%,
			rgba(48, 48, 48, 0) 100%
		);
	}
}

.light-text {
	color: $light-text-color  !important;
	color: var(--light-text-color) !important;
}

.stack-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	p {
		max-height: 2rem;
	}
}

@media only screen and (max-width: 512px) {
	.icon {
		width: 2rem;
		height: 2rem;
	}
}