/* All the variables come here */

/* Shared colors */
$hero-background: #252733;
$dark-text-color: #252733;
$light-text-color: #F3F3F3;
$underline-red: #FF6161;
$cookie-blue: #005B96;

/* Light theme colors */
$light-page-background: #F3F3F3;

/* Dark theme colors */
$dark-page-background: #171717;
$dark-theme-text-color: #f3f3f3ee;